@import "reset";
@import "button";
@import "fonts";
@import "typography";
@import "helpers";
@import "footer";
@import "list";
@import "table";

*, html {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: $background-color;
}
